####################################################################
# KINGROON KLP1 V2.2
####################################################################
[mcu MKS_THR]
serial: /dev/ttyS0
restart_method: command

#####################################################################
# FAN
#####################################################################
[fan]
pin:MKS_THR:gpio3
kick_start_time: 0.5
off_below: 0.20

[heater_fan heatbreak_cooling_fan]
pin: MKS_THR:gpio11
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
off_below: 0.20

####################################################################
# Extruder
####################################################################
[extruder]
step_pin: MKS_THR:gpio5
dir_pin: !MKS_THR:gpio4
enable_pin: !MKS_THR:gpio10
rotation_distance:23
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: MKS_THR:gpio2
sensor_pin: MKS_THR:gpio26
sensor_type: ATC Semitec 104GT-2
min_temp: 5
max_temp: 300
max_power: 0.7
min_extrude_temp: 60
pressure_advance: 0.03
pressure_advance_smooth_time: 0.09
max_extrude_cross_section: 0.64
instantaneous_corner_velocity: 20.000
max_extrude_only_distance: 100.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 2000

[tmc2209 extruder]
uart_pin: MKS_THR:gpio6
interpolate: True
run_current: 0.9
hold_current: 0.9
sense_resistor: 0.110
stealthchop_threshold:0

[verify_heater extruder]
max_error: 120
check_gain_time: 20

####################################################################
# Probe
####################################################################
[probe]
pin: !MKS_THR:gpio21
x_offset: 12.85
y_offset: 0
speed: 3
samples: 6
samples_result: median
sample_retract_dist: 1.2
samples_tolerance: 0.05
samples_tolerance_retries: 3

[adxl345]
cs_pin: MKS_THR:gpio13
spi_software_sclk_pin: MKS_THR:gpio14
spi_software_mosi_pin: MKS_THR:gpio15
spi_software_miso_pin: MKS_THR:gpio12

[resonance_tester]
accel_chip: adxl345
probe_points: 100, 100, 20
# accel_per_hz: 300
accel_per_hz: 100

[input_shaper]